Repository wusb/calendar: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "{config,src,demo}/**/*.js": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.scss": [
      "stylelint --fix",
      "git add"
    ]
}

chore: add webpack
  config/postcss.config.js
  config/webpack/webpack.base.config.js
  config/webpack/webpack.config.js
  config/webpack/webpack.dev.config.js
  config/webpack/webpack.prod.config.js
Due: eslint --fix

feat: add utils
  src/utils.js
Due: eslint --fix

feat: add calendar
  src/calendar.js
  src/calendar.scss
Due: eslint --fix, stylelint --fix

feat: add demo
  demo/index.js
  index.html
Due: eslint --fix

chore: build
  lib/calendar.js
Due: none

chore: add delpoy docs page script
  config/deploy-docs.js
  package.json
  yarn.lock
Due: eslint --fix

feat: update docs pages
  docs/demo.js
  docs/index.html
Due: none

feat: set theme jekyll-theme-cayman
  docs/_config.yml
Due: none

feat: add onDayClick api
  src/calendar.js
Due: eslint --fix

feat: optimize button style
  src/calendar.scss
Due: stylelint --fix

refactor: add Event
  src/calendar.js
Due: eslint --fix

feat: add transition to choose date
  src/calendar.scss
Due: stylelint --fix

feat: add chooseDate
  src/calendar.js
  src/calendar.scss
Due: eslint --fix, stylelint --fix

feat: add onClickPreMonth、onClickNextMonth、onMonthChange api
  src/calendar.js
Due: eslint --fix

chore: add api demo
  demo/index.js
Due: eslint --fix

chore: add LICENSE
  LICENSE
Due: none

fix: disable eslint
  src/utils.js
Due: eslint --fix

chore: add keywords & description
  package.json
Due: none

chore: rename
  package.json
Due: none

docs: add README
  README_zh-CN.md
Due: none

docs: rename
  README-zh_CN.md
  README.md
Due: none

docs: update chinese README
  README-zh_CN.md
Due: none

chore: build v0.0.1
  lib/calendar.js
Due: none

chore: update deploy commit message
  config/deploy-docs.js
Due: eslint --fix

docs: add labels
  README-zh_CN.md
  README.md
Due: none

chore: update docs pages
  docs/demo.js
  docs/index.html
Due: none

docs: update README
  README-zh_CN.md
  README.md
Due: none

feat: add format、monthFormat api
  src/calendar.js
Due: eslint --fix

docs: add format、monthFormat api
  README-zh_CN.md
  README.md
Due: none

chore: build to v0.1.0
  lib/calendar.js
  package.json
Due: none
